@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "robotoregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}
body{
    font-family: "robotoregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}

ul{
    list-style: none;
}

.show{
    display: block;
}

.navbar__toggler{
    display: none;
}

.menu__link{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 30px 0;
}

.menu__list{
    display: flex;
    gap: 35px;
    margin-right: 90px;
    padding: 0;
}

.menu__list-opl{
    display: flex;
    gap: 35px;
    margin-right: 90px;
    margin-left: 91px;
    padding: 0;
}

.bacsket__list{
    display: flex;
    gap: 15px;
    align-items: center;
}

.header {
    
    background-color: #F9F6F1;
}

.header-menu {
    min-height: 90px ;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #F9F6F1;
    align-items: center;
}
.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
}
.banner {
   margin-top: 90px;
}

a{
    text-decoration: none;
    color: inherit;
}
.section__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.slider__item{
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background: url(../img/running_shoes_PNG5823.png) no-repeat right center;
}

.slider__text{
    font-size: 30px;
    display: flex;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.slider__text-big{
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 55px;
}

.button{
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.slider__item-price{
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;

}

.slider__price--old{
    font-size: 24px;
    text-decoration-line: line-through;
    
}

.slider__price--new{
    font-size: 42px;
    color: #d84033;
    margin: 10px 0 0 0;
}

.slider__button{
    position: absolute;
    top: 50%;
    background: none;
    cursor: pointer;
}

.slider__button--prev{
    left: -100px;
}

.slider__button--next{
    right: -100px;
}

.slider__button{
    border: none;
}

.delivery__container{
    background-color: #212121;
    margin: 0 auto;
}

.delivery__text{
    padding-top: 80px;
    padding-bottom: 118px;
    color: #fff;
    text-align: center;
}

.delivery__descr{
    font-size: 21px;
    font-weight: 100;
}

.delivery__titel span{
    font-weight: 700;
    max-width: 588px;
}

.delivery__titel{
    font-size: 30px;
    padding-bottom: 23px;
    font-weight: 400;
}

.menu-women{
    background: linear-gradient(to right, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
    height: 250px;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.dress{
    margin: 0;
    padding: 0;
    border: none;
}

.women__text{
    margin-top: 40px;
    margin-bottom: 58px;
    position: relative; 
   
}

.women__titel{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.women__titel span{
    font-weight: 700;
}

.menu__descr{
    font-size: 16px;
    font-weight: lighter;
}

.img__women-men{
    margin-top: 79px;
}

.img__women-women{
    margin-top: 79px;
}

.women__btn{
   padding: 10px 35px;
   background-color: #D7B399; 
   border: none;
   cursor: pointer;
}

.dress__wrapper{
    flex-wrap: wrap;
}

.dress__item{
    width: 277px;
    height: 236px;
    text-align: right;
    position: relative;
}

.dress__item img{
padding-top: 20px;
   width: 210px;
   height: 230px;
}

.dress__item--grey{
 background-color: #f4f4f4;   
}

.dress__item--cream{
    background-color: #f9f6f1;
}

.dress__text{
 display: flex;
 text-align: end;
 font-size: 21px;
 color: #000;
 font-weight: 100;
 margin-left:30px;
}

.dress__item--text{
position: absolute;
left: 26px;
top: 163px;
text-transform: uppercase;
font-weight: 300;
font-size: 21px;
}

.new{
    margin-top: 150px; 
}

.border__part-1{
    display: flex;
    gap: 205px;  
}

.border__part-2{
    display: flex;
    gap: 205px;
}

.new__full{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.new__titel{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.3;
}

.new__border--inner{
    text-align: center;
}

.new__text__titel{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.3;
}

.new__text__descr{
    font-size: 18px;
    font-weight: bold;
    color: #D7B399;
}

.new__btn{
    background-color: #D7B399;
     margin-top: 100px;
    color: #fff;
    padding: 18px 35px ;
    border: none;
    cursor: pointer;
}

.new__btn__inner{
    text-align: center;
}
.new__btn_img{
    margin-left: 9px;
}

.new__border__img{
    text-align: center;
}

.discount{
    margin-top: 150px;
    background-color: #212121; 
}

.discount__full{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 71px;
    gap: 30px;
}

.discount__titel{
    font-size: 30px;
    font-weight: bold;
    margin-right: 60px;
    color: #fff;
    line-height: 1.3;
}

.discount__inner{
    display: flex;
    gap: 30px;
}

.discount__input__email{
    width: 255px;
    padding-top: 13px;
    padding-bottom: 12px;
    max-height: 40px;
}

.discount__input__email::placeholder{
    padding-left: 20px;
}

.discount__btn__active{
    background: #D7B399;
    padding: 12px 14px 13px 14px;
    cursor: pointer;
    max-height: 40px;
    color: #fff;
    font-weight: 500;
    border: none;
}

.sale__full{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.sale__titel{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.3;
    margin-top: 150px;
}

.sale__border--inner{
    text-align: center;
}

.sale__text__titel{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sale__text__descr{
    font-size: 18px;
    font-weight: bold;
    color: #D7B399;
}

.sale__btn{
 background-color: #D7B399;
 margin-top: 100px;
 color: #fff;
 padding: 18px 35px ;
 border: none;
 cursor: pointer;
}

.sale__btn__inner{
    text-align: center; 
}
.sale__btn_img{
    margin-left: 9px;
}

.footer{
    margin-top: 150px;
}

.footer-nav{
    background-color: #212121;
}

.footer__flex{
    display: flex;
    justify-content: space-between;
    padding-top: 79px;
    padding-bottom: 78px;
}

.footer__flex__column{
    display: flex;
    flex-direction: column;
}

.footer__text{
    max-width: 200px;
    line-height: 22px;
    color: #fff;
    margin-right: 224px;
}

.footer__titel{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.3;
}

.footer__link{
    font-size: 14px;
    font-weight: normal;
    color: #CBCFD4;
    margin-bottom: 10px;
}

.footer__img{
    width: 24px;
    height: 24px;
}

.footer__link:hover{
    color: #D7B399;
}

.footer__link:active{
    color: #7c4d2b;
}

.footer__icon__text{
    display: flex;
    gap: 11px;
    align-items: center;
    text-align: center;
    color: #CBCFD4;
}

.copyright{
    margin-top: 30px;
    margin-bottom: 20px;
}

.copyright__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright__flex__link{
    font-size: 14px;
    font-weight: normal;
}

.btn:hover{
    background: #df8a4e;

}

.btn:active{
    background: #7c4d2b;

}

.menu__link:hover{
    color: blue;
    
}

.menu__link:active{
    color: rgb(126, 124, 50);
    
}

.menu__list-item{
    padding: 15px 0 15px 0;
    display: flex;
}

.menu__list-item:hover{
    color: blue;
}

.menu__list-item:active{
    color: rgb(126, 124, 50);
}

.copyright__flex__link:hover{
    color: blue;
}

.copyright__flex__link:active{
    color: rgb(126, 124, 50);
}

.header__slider{
    width: 40px;
    height: 7px;
    background: #CECECE;
    text-align: center;
   
}

.header__slider__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    padding-bottom: 70px;
    gap: 15px;
}

.header__slider--active{
    background-color: #D7B399;
}


@media (max-width:1326px) {
    .slider__button--prev{
        display: none;
    }

    .slider__button--next{
        display: none;
    }
    .header__slider__inner{
        display: none;
    }
}

@media (max-width:1110px) {
    .container{
        width: auto;
        padding:0 30px;
    }

    .dress__item{
        width: 25%;
    }

    .border__full{
        width: 25%;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:1073px) {
    .discount__titel{
        font-size: 26px;
    }
}

@media (max-width:992px) {
    .menu__wrapper {
        flex-wrap: wrap;
    }

    .logo{
        order: -1;
        width: 100%;
    }
}

@media (max-width:842px){
    .footer__text{
        max-width: 300px;
        margin-right: 152px;
    }
}

@media (max-width:796px){
   .footer__titel{
    margin-right: 20px;
   }
}


@media (max-width:768px) {
    .slider__wrapper{
        display: none;
    }

    .slider__button{
        display: flex;
    }

    .header{
        min-height: 90px;
    }

    .dress__item{
        width: 33%;
    }

    .border__full{
        width: 33%;
    }

    .img__women-men{
        display: none;
    }

    .img__women-women{
        display: none;
    }
    .delivery__text{
        padding: 80px 30px 30px 30px
    }

    .footer__text{
        max-width: 500px;
    }
}

@media (max-width:768px) {
    .logo{
        order: -1;
        width: 70%;
    }
    
    .bacsket__list{
        display: flex;
        order: -1;
        text-align: right;
        position: absolute;
        bottom: 180px;
        right: 240px;
    }

    .slider__button {
        display: none;
    }

    .header__slider__inner{
        display: none;
    }
}
  @media (max-width:735px){
    
    .discount__full{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .discount__inner{
        display: flex;
        gap: 50px;
        font-size: 23px;
        flex-direction: column;
    }

    .discount__titel{
        margin-left: 50px;
    }
  }

  @media (max-width:684px) {
    .footer__text{
        margin: 0; 
        max-width: 300px; 
    }

    .footer__link{
        margin-right: 10px;
    }

    .footer__icon__text{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .footer__icon__link{
        margin-bottom: 5px;
    }

  }
  
  @media (max-width:628px){

    .footer{
        text-align: center;
        
    }
    .footer__text{
        margin: 0 auto;
        
       margin-bottom: 10px;
    }

    .footer__flex{
        flex-direction: column;
    }
  }
  

@media (max-width:600px) {
    
    .menu{
        display: none;
    }

    .basket{
        display: none;
        order: -1;
    }

    .mainmenu__list{
        flex-direction: column;
    }

    .navbar__toggler{
        display: block;
        margin-left: 30px;
    }

    .discount__titel{
        font-size: 20px;
        margin-left: 50px;
    }

    .delivery__text{
        padding: 20px 30px 20px 30px;
    }

    .footer__text{
        max-width: 300px;
        
    }
}

@media (max-width:585px){

    .delivery__titel{
        font-size: 20px;
    }
    .delivery__descr {
        font-size: 16px;
    }
    
}

@media (max-width:576px) {
    .dress__item{
        width: 50%;
    }

    .border__full{
        width: 50%;
    }

    .women__text{
        margin-left: 20px;
        
    }

    .women__text__women{
        margin-left: 13px;
    }
}

@media (max-width:320px){
    .dress__item{
        width: 100%;
    }

    .border__full{
        width: 100%;
    }

    .women__titel{
        font-size: 16px;
    }

    .menu__descr{
        font-size: 10px;
    }

    .women__text{
        text-align: center;
        margin-right: 13px;
    }

    .women__text__women{
        margin-left: 13px;
    }
}